html, body {
  height: 100%; 
  margin: 0;
  
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #211f21;
}
.container{
    /* height: 100%; */
    display: flex;
    flex-direction: row-reverse;
     align-items: center; 
}
.Item {
    flex: 1;
    /* height: 100%; */
  margin: 20px;
  position: relative;
  /* border: solid 1px #19a63c; */
  height: 90vh;
  width:  95vh;
  background-color: #151415;

  }
.ImgItem{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;

}
.Button-container{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute; 
    margin-bottom: 40%; 
    z-index: 1
}
.MainText{
  font-size: 50px;
  position: absolute;
  width: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-31%, 0%);
  font-weight: bold;
  color:white
}
.SecondaryText{
  font-size: 30px;
  position: absolute;
  width: 120vh;
  top: 50%;
  left: 50%;
  transform: translate(-43%, 270%);
  color:white
}
.square{
width: 100px;
height: 100px;
display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 40px;
  border: solid 1px rgb(55, 54, 54);
}
.squareGreen{
  background-color: green;
  color: white;
}
.squareRed{
  background-color: rgb(128, 0, 0);
  color: red;
}
.Hide{
  display: none;
}
.ButtonPlayP{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 900%);

}
.Lost{
  position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table-column;
    justify-self: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color:white
    
}

.LText{
  font-size: 50px;
}
.LScore{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}

.Score{
  position: absolute;
  top: 85vh;
  right: 0vh;
  width: 150px;
  font-size: 34px;
  color: white;
}

.Price{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d2cf13;
    padding: 10px;
    white-space: nowrap;
    font-size: 140px;
    z-index: 1
}

.TextJmeno {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  .Text{
    color:white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .Wiki{
    position: absolute;
    top: 99%;
    left: 98%;
    transform: translate(-50%, -50%);
    color: #1316d2;
    padding: 10px;
    white-space: nowrap;
    font-size: 17px;
    z-index: 1

  }

.Button {
    width: 150px;
    height: 100px;
    align-items: center;
    appearance: none;
  
    background-color: #1af15b;
    background-image: linear-gradient(1deg, #1af15b, #19a63c 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
   border-width: 0;
    box-shadow: none;
    box-sizing: border-box;  
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    margin: 4px; 
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.Button:active,
.Button:focus {
  outline: none;
}

.Button:hover {
  background-position: -20px -20px;
}

.Button:focus:not(:active) {
  box-shadow: rgba(40, 255, 108, 0.25) 0 0 0 .125em;
}

.ButtonGame{
   position: absolute;
  top: 35vh;
  right: 42vh ; 
}
.ButtonGame button{
  background-color: rgba(0, 0, 0, 0.05);
  background-image: none;
  border: solid 3px green;
}
.ButtonGame Button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%; /* This makes the element a circle */
  background-color: rgb(49, 47, 47); /* Optional: Add a background color to fill the circle */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.vs-text {
  color: white; /* Optional: Set the text color */
  font-size: 30px; /* Set the font size */
  font-weight: bold;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 @media (min-width: 2560px) {
  body {
    font-size: 150%;
  }

  .Price {
    font-size: 180px;
  }
  .Button{
    scale: 150%;
    margin:25px
  }
  .ButtonGame{
    position: absolute;
    top: 33vh;
    right: 42vh ; 
  }
  .MainText{
    font-size: 50px;
    position: absolute;
    width: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-24%, 0%);
    font-weight: bold;
    color:white
  }
  .SecondaryText{
    font-size: 30px;
    position: absolute;
    width: 120vh;
    top: 50%;
    left: 50%;
    transform: translate(-33%, 270%);
    color:white
  }
 }

 @media (min-width: 3840px) {

  body {
    font-size: 230%;
  }

  .Price {
    font-size: 220px;
  }
  .ButtonGame{
    position: absolute;
    top: 36vh;
    right: 45vh ; 
  }
  .MainText{
    font-size: 50px;
    position: absolute;
    width: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-15%, 0%);
    font-weight: bold;
    color:white
  }
  .SecondaryText{
    font-size: 30px;
    position: absolute;
    width: 120vh;
    top: 50%;
    left: 50%;
    transform: translate(-20%, 270%);
    color:white
  }
 }